<div class="md-padding">
  <div layout layout-sm="column">
    <form>
    <md-input-container flex>
      <md-icon class="material-icons">search</md-icon>
      <input class="searchAll" ng-model="search.$" type="text" placeholder="any field">
    </md-input-container>
    <md-input-container flex>
      <input ng-model="search.owner" type="text" placeholder="owner">
    </md-input-container>
    <md-input-container flex>
      <input ng-model="search.repo" type="text" placeholder="repo">
    </md-input-container>
    <md-input-container flex>
      <input ng-model="search.refs" type="text" placeholder="ref">
    </md-input-container>
    </form>
  </div>

  <div>
    sort by

    <md-button ng-click="sort.change('id')" ng-class="{'md-raised': sort.predicate === 'id'}">owner & repo
      <md-icon ng-if='sort.predicate === "id" && !sort.reverse' class="material-icons">arrow_drop_up</md-icon>
      <md-icon ng-if='sort.predicate === "id" && sort.reverse' class="material-icons">arrow_drop_down</md-icon>
    </md-button>

    <md-button ng-click="sort.change('owner')" ng-class="{'md-raised': sort.predicate === 'owner'}">owner
      <md-icon ng-if='sort.predicate === "owner" && !sort.reverse' class="material-icons">arrow_drop_up</md-icon>
      <md-icon ng-if='sort.predicate === "owner" && sort.reverse' class="material-icons">arrow_drop_down</md-icon>
    </md-button>

    <md-button ng-click="sort.change('repo')" ng-class="{'md-raised': sort.predicate === 'repo'}">repo
      <md-icon ng-if='sort.predicate === "repo" && !sort.reverse' class="material-icons">arrow_drop_up</md-icon>
      <md-icon ng-if='sort.predicate === "repo" && sort.reverse' class="material-icons">arrow_drop_down</md-icon>
    </md-button>
  </div>

  <div layout="row" layout-wrap>
    <div flex="25" ng-repeat="app in data.applications | filter:search:strict | orderBy:sort.predicate:sort.reverse">
      <md-card class="totem-app" ng-click="changeState($event, app.owner, app.repo, 'develop')">
        <md-card-title>
          <span class="md-headline">{{ app.repo }}</span>
          <span class="md-subhead">{{ app.owner }}</span>
        </md-card-title>

        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-if="app.refs.master" ng-click="changeState($event, app.owner, app.repo, 'master')">
            master
          </md-button>
          <md-button ng-if="app.refs.develop" class="md-primary" ng-click="changeState($event, app.owner, app.repo, 'develop')">
            develop
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
