<table class="table table-striped">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Repo</th>
      <th>Ref</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="build in data | orderBy : 'difference'">
      <td>{{ build.owner }}</td>
      <td>{{ build.repo }}</td>
      <td>{{ build.ref }}</td>
      <td>{{ build.date | amDateFormat:'ddd, MMMM Do YYYY, h:mm:ss a' }}</td>
    </tr>
  </tbody>
</table>

<div class="btn-group" role="group">
  <button type="button" class="btn btn-default" ng-click="setPage('prev')">Prev</button>
  <button type="button" class="btn" ng-repeat="n in pagesArr" ng-click="setPage($index)" ng-class="page === $index ? 'btn-active' : 'btn-default'">{{ $index + 1 }}</button>
  <button type="button" class="btn btn-default" ng-click="setPage('next')">Next</button>
</div>

<div class="btn-group" dropdown is-open="dropdownStatus.isopen">
  <button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle>Page length <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation" ng-repeat="n in [10,25,50,100]"><a role="menuitem" tabindex="-1" ng-click="setPageSize(n)">{{ n }}</a></li>
  </ul>
</div>

<form>
  <div class="form-group">
    <label for="owner">Owner</label>
    <input type="text" class="form-control" id="owner" ng-model="query.owner" />
  </div>
  <div class="form-group">
    <label for="repo">Repo</label>
    <input type="text" class="form-control" id="repo" ng-model="query.repo" />
  </div>
  <div class="form-group">
    <label for="ref">Ref</label>
    <input type="text" class="form-control" id="ref" ng-model="query.ref" />
  </div>
  <button type="submit" class="btn btn-default" ng-click="getData()">Search</button>
</form>
