<md-content class="md-whiteframe-1dp" layout-margin="5" layout-padding="5">
  <div layout="row" layout-wrap>
    <div layout="column" flex="75" layout-fill="">
      <div>
        <strong>image</strong>
        <a ng-if="job.imageLink" ng-href="{{job.imageLink}}" target="_blank">{{ job.image }}</a>
        <span ng-if="!job.imageLink">{{ job.image }}</span>
      </div>
      <div>
        <strong>repository</strong> <a href="https://github.com/{{job.context.owner}}/{{job.context.repo}}">{{job.context.owner}}/{{job.context.repo}}</a> - <a href="https://github.com/{{job.context.owner}}/{{job.context.repo}}/tree/{{job.context.branch}}">{{job.context.branch}}</a> - <a href="https://github.com/{{job.context.owner}}/{{job.context.repo}}/commit/{{job.context.commit}}">{{job.context.commit}}</a>
      </div>
      <div class="shifted-down">
        <p>started <a ng-alt="{{ job.startMoment | ago }}">{{ job.startMoment | ago }}<md-tooltip>{{ job.startTime | date:'medium' }}</md-tooltip></a> and 
        <span ng-if="!job.duration">
          it's been <strong>{{ job.status }}</strong> for {{ job.startMoment | humanizeTimeDiff }}.
        </span>
        <span ng-if="job.duration">
          it took <a ng-alt="{{ job.duration | humanizeTimeDiff }}">{{ job.duration | humanizeTimeDiff }}<md-tooltip>{{ job.duration }}</md-tooltip></a> to be a <strong>{{ job.status }}</strong>.
        </span>
        </p>
      </div>
    </div>
    <div flex="25" layout="column">
      <table class="spaced-table">
        <tr ng-repeat="stage in stages">
          <td>{{ stage }}</td>
          <td>{{ job.results[stage].status }}</td>
        </tr>
      </table>
    </div>
  </div>
</md-content>
<md-content class="md-whiteframe-1dp" layout-margin="5" layout-padding="5">
  <md-button ng-click="loadLogs()" class="md-raised">Refresh Logs</md-button>

  <p ng-if="!logs" class="md-body-2 message-warn">
    <strong>No logs found for this build.</strong>
  </p>

  <log></log>
</md-content>
