h1 {
  cursor: pointer;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.md-button.no-transform {
  text-transform: none;
}

.log-messages {
  font-family: monospace;
  padding: 0;
  margin: 0;

  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

  .timestamp {
    color: gray;
  }
}

.follow-logs {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
}

.log-controls {
  md-input-container:not(.md-input-invalid) > md-icon.datetime {
    color: green;
  }
  md-input-container.md-input-invalid > md-icon.datetime {
    color: red;
  }
}

.gantt-column-header {
  font-weight: bold;
}

.gantt-row-label {
  padding-left: 10px;
}

.gantt-task-content {
  color: white;
}

.gantt-task-background {
  background: rgb(63,81,181);
}

.parent-row {
  background: rgba(121,134,203, .5);
  color: white;
}

.overview-task {
  height: 30%;


  .gantt-task-background {
    background: rgb(255, 64, 129);
    border-radius: 0;
  }

  &:first-child:before,
  &:last-child:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 7px;
  }

  &:first-child:before {
    border-left-color: rgb(255, 64, 129);
    left: 0;
  }

  &:last-child:after {
    border-right-color: rgb(255, 64, 129);
    right: 0;
  }
}
