<md-toolbar class="md-primary md-hue-2">
  <div class="md-toolbar-tools" >
      {{ application.owner }} / {{ application.repo }} / &nbsp;
      <md-menu>
        <a aria-label="Select a branch" ng-click="$mdOpenMenu($event)" class="branch-menu">
          {{ application.ref.name }}
          <md-icon>arrow_drop_down</md-icon>
        </a>
        <md-menu-content width="4">
          <md-menu-item ng-repeat="ref in refs">
            <md-button ng-click="changeRef(ref)">{{ ref }}</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

    <small>&nbsp;(<a ng-href="{{ getCommitLink(selected.deployment) }}" target="_blank"><code>{{ selected.deployment.metaInfo.git.commit | truncate:5 }}</code></a>)</small>

    <span flex></span>
    {{ friendlyState[selected.deployment.state] }} {{ selected.deployment.stateUpdated | humanizeTimeDiff }}
  </div>
</md-toolbar>

<md-toolbar class="md-accent" ng-if="working || !loaded">
  <div class="md-toolbar-tools">
    <h3 ng-if="working">Working&hellip;</h3>
    <h3 ng-if="!loaded">Loading&hellip;</h3>
    <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
  </div>
</md-toolbar>

<md-toolbar class="md-warn ng-cloak" ng-if="loaded && !selected.deployment">
  <div class="md-toolbar-tools">
    <h3>Deployment not found</h3>
  </div>
</md-toolbar>

<md-toolbar class="md-warn md-hue-2" ng-if="selected.deployment.decomissionStarted">
  <div class="md-toolbar-tools">
    <h3>Decommissioning has started for this deployment</h3>
  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
      <h3>Select deployment</h3>
    </div>
  </md-toolbar>

  <md-content class="md-padding">
    <md-radio-group ng-model="selected.deployment" class="md-primary">
      <md-radio-button ng-repeat="deploy in application.ref.deployments" ng-value="deploy" ng-click="toggleSidenav()">
        {{ friendlyState[deploy.state] }} {{ deploy.stateUpdated | ago }}
        {{ getTiming(deploy) }}
        <small><code>{{ deploy.metaInfo.git.commit.substr(0, 5) }}</code></small>
      </md-radio-button>
    </md-radio-group>
  </md-content>
</md-sidenav>

<md-content class="">
  <md-tabs md-selected="selected.tab">
    <md-tab ui-sref="app.applicationsSelected.summary" label="summary"></md-tab>
    <md-tab ui-sref="app.applicationsSelected.logs" label="logs"></md-tab>
    <md-tab ui-sref="app.applicationsSelected.diagnostic" label="diagnostic"></md-tab>
  </md-tabs>

  <div ng-if="loaded" layout="column" layout-fill>
    <div ui-view="page"></div>
  </div>
</md-content>

<md-fab-speed-dial class="app-dial" md-direction="left" class="md-fling" md-open="fabIsOpen" ng-mouseenter="fabIsOpen = true" ng-mouseleave="fabIsOpen = false">
  <md-fab-trigger>
    <md-button class="md-fab">
      <md-icon class="material-icons">more_horiz</md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button class="md-fab md-primary" ng-click="toggleSidenav()">
      <md-tooltip>Open deployment menu</md-tooltip>
      <md-icon class="material-icons">menu</md-icon>
    </md-button>
    <md-button class="md-primary md-fab" ng-click="refresh()">
      <md-tooltip>Update view</md-tooltip>
      <md-icon class="material-icons">refresh</md-icon>
    </md-button>
    <md-button class="md-warn md-fab" ng-click="deleteDialog($event, selected.deployment)" ng-disabled="selected.deployment.state !== 'PROMOTED'">
      <md-tooltip>Decommission deployment</md-tooltip>
      <md-icon class="material-icons">delete</md-icon>
    </md-button>
    <md-button class="md-warn md-fab" ng-disabled="isRestoreDisabled(selected.deployment)" ng-click="restoreDeployment(selected.deployment)">
      <md-tooltip>Restore deployment</md-tooltip>
      <md-icon class="material-icons">restore</md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>
